<html>
<head>
    <title>Meeples Anon</title>

    <link href="css/MAweb.css" rel="stylesheet" />


    <script src="js/angular.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    -->
    <script src="features/services/controller.js"></script>
    

</head>
<body ng-app="MAapp">
    <div class="container" ng-controller="MACtrl">
        <h1>Meeples Anon</h1>
        <input ng-model="searchString" /><button class="btn btn-primary" ng-click="Function_searchbgg()">Search</button>
        <div ng-repeat="results in searchResults">
            <div class="panel-group" ng-repeat="item in results">
                <div class="panel panel-default" id="searchborder" ng-repeat="fields in item">
                    <div class="panel-title" ng-repeat="names in fields">
                        <div class="" ng-repeat="game in names | filter:game._">
                            {{game._}}
                        </div>
                    </div>
                    <button class="btn btn-primary" data-toggle="collapse" ng-click="Function_searchgame(fields.$.objectid)" data-target="#collapse1{{ $index + 1}}">Select Game</button>
                    <div id="collapse{{ $index + 1}}" class="panel-collapse collapse">

                        <button type="button" class="btn btn-primary">Add to Library</button>
                        <button type="button" class="btn btn-success">Add to Wishlist</button>
                        <button type="button" ng-click="redirectToBgg()" class="btn btn-warning">View on BGG.com</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    {{gameDetail=gameInfo.boardgames.boardgame;""}}
                    <div ng-repeat="details in gameDetail">
                        <div class="modal-content">
                            <div class="modal-header">
                                {{details.name[0]._}}
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            <div class="modal-body row">
                                <table>
                                    <tr id="modalTable">
                                        <td colspan="2">
                                            <img src="{{details.thumbnail[0]}}" />
                                        </td>
                                        <td rowspan="4">
                                            {{details.description[0] | limitTo: 275}}...
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Min Players:
                                        </td>
                                        <td>
                                            {{details.minplayers[0]}}
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Max Players:
                                        </td>
                                        <td>
                                            {{details.maxplayers[0]}}
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Play Time:
                                        </td>
                                        <td>
                                            {{details.playingtime[0]}}
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>

                                <br />





                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Add to Library</button>
                                <button type="button" class="btn btn-success">Add to Wishlist</button>
                                <button type="button" ng-click="redirectToBgg()" class="btn btn-warning">View on BGG.com</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>
