body {
}
#imgCell{
     width:100px;
     height:50px;
     text-align:center;    
}
#thumbImage{
    width:auto;
    height:100%;

}
#btnCheck{
     width:40px;
    height:40px;
    
}

    /* Hero */
.hexbtns {
  position: relative;
}
.hexbtn {
  position: relative;
  max-width: 100%;
  margin: 3rem auto -12rem;
}
.hexbtn + .hexbtn {
  display: none;
}
.subpageTitle{
float:left;

}
.subpageLogo{
    float:left;
  


}
.searchTable{

    border:none;
}

